@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 4000px;
  background: #191919;
}

header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #5a5a5a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  background: #171717;
  z-index: 5;
}
header .myLogo {
  margin: 6px 0 0 15px;
}
header .myLogo a img {
  width: 110px;
}
header .gnb {
  display: flex;
  align-items: center;
  margin: 3px 15px 0 0;
}
header .gnb li {
  margin-left: 40px;
}
header .gnb li a {
  color: #fff;
  font: 18px/1 "Architects Daughter", cursive;
  letter-spacing: 3px;
}
header .btnMenu {
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #fff;
  display: none;
}

#homePg {
  height: 1000px;
  border-bottom: 1px solid #202020;
}
#homePg .homeTit {
  position: absolute;
  top: 200px;
  left: 8vw;
  font: 3vw/1.5 "Noto Sans KR";
  color: #ddd;
  /*
  .triangle1 {
    position: absolute;
    top: 32px;
    left: -25px;
    border-bottom: 18px solid #ff0000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(90deg);
    opacity: 0;
  }
  .triangle2 {
    position: absolute;
    top: 13px;
    left: -21px;
    border-bottom: 18px solid #00EBFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(127deg);
    opacity: 0;
  }
  .triangle3 {
    position: absolute;
    top: 2px;
    left: -4px;
    border-bottom: 18px solid #FFFF00;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(170deg);
    opacity: 0;
  }
  */
}
#homePg .homeTit p strong {
  font-size: 4vw;
}
#homePg .homeTit:hover p strong {
  background: linear-gradient(45deg, #88c170 5%, #376cce 95%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#homePg .homeTag1 {
  position: absolute;
  top: 140px;
  right: 72px;
  font: 1.2vw/1.4 "Noto Sans KR";
  text-align: right;
  color: #2a2a2a;
}
#homePg .homeTag1:hover {
  color: #8c8d60;
  text-shadow: 0 0 3px #8c8d60;
}
#homePg .homeTag2 {
  position: absolute;
  top: 370px;
  right: 72px;
  font: 1.2vw/1.4 "Noto Sans KR";
  text-align: right;
  color: #2a2a2a;
}
#homePg .homeTag2:hover {
  color: #945f8f;
  text-shadow: 0 0 3px #62445f;
}
#homePg .homeTag3 {
  position: absolute;
  top: 500px;
  right: 60px;
  font: bolder 13vw/0.9 "Noto Sans KR";
  text-align: right;
  letter-spacing: 15px;
  text-shadow: 10px 10px 1px rgba(56, 56, 56, 0.5);
  color: #383838;
}

#aboutMe {
  height: 1000px;
  border-bottom: 1px solid #202020;
  position: relative;
}
#aboutMe .secM_1 {
  position: absolute;
  top: 200px;
  left: 140px;
}
#aboutMe .secM_1 img {
  width: 19vw;
  border-radius: 45%;
  border: 1.5px solid rgb(70, 70, 70);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
}
#aboutMe .secM_1 img:hover {
  border: 1.5px solid rgb(129, 129, 129);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
#aboutMe .secM_1 .pf_txt {
  width: 18vw;
  text-align: center;
  color: #aaa;
}
#aboutMe .secM_1 .pf_txt .myName {
  margin: 40px 0 45px;
  letter-spacing: 2px;
  color: #008bcb;
}
#aboutMe .secM_1 .pf_txt .myName strong {
  font: 500 1.8vw/1 "Noto Sans KR";
}
#aboutMe .secM_1 .pf_txt .myName span {
  font: 1.7vw/1.5 "Nanum Pen Script";
  color: #7a7a7a;
}
#aboutMe .secM_1 .pf_txt .motto {
  font: 1.7vw/1.5 "Nanum Pen Script";
  letter-spacing: 3px;
  color: #697c91;
}
#aboutMe .secM_1 .pf_txt .motto:hover {
  color: #6f91b9;
  text-shadow: 0 0 8px rgba(111, 145, 185, 0.5);
}
#aboutMe .secM_2 {
  position: absolute;
  top: 200px;
  left: 33vw;
  font: 1.1vw/1.6 "Noto Sans KR";
  color: #aaa;
}
#aboutMe .secM_2 ul {
  margin-bottom: 80px;
}
#aboutMe .secM_2 ul .secM2_tit {
  font: 500 1.6vw/2.2 "Noto Sans KR";
  color: rgb(15, 95, 132);
}
#aboutMe .secM_2 ul .secM2_tit span {
  font: 1.4vw/2.2 "Noto Sans KR";
  color: #777;
}
#aboutMe .secM_2 ul .ht_txt {
  width: 60vw;
}
#aboutMe .secM_3 {
  position: absolute;
  top: 200px;
  left: 60vw;
  font: 1.1vw/1.6 "Noto Sans KR";
  color: #aaa;
}
#aboutMe .secM_3 ul {
  margin-bottom: 50px;
}
#aboutMe .secM_3 .secM3_tit {
  font: 500 1.6vw/2.2 "Noto Sans KR";
  color: rgb(15, 95, 132);
}
#aboutMe .secM_3 .ability li:nth-of-type(2) span {
  font: 0.9vw/1.6 "Noto Sans KR";
  color: #777;
}
#aboutMe .secM_3 .skill_icon {
  width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#aboutMe .secM_3 .skill_icon li {
  margin: 0 20px 10px 0;
  width: 3vw;
}
#aboutMe .secM_3 .skill_icon li img {
  width: 100%;
  border-radius: 8px;
}

#project {
  height: 1000px;
  border-bottom: 1px solid #202020;
  display: flex;
  justify-content: center;
  position: relative;
}
#project .proj_btn {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 120px;
}
#project .proj_btn li {
  width: 12vw;
  height: 50px;
  font: 1.3vw/45px "Noto Sans KR";
  text-align: center;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
}
#project .proj_btn li:nth-of-type(1) {
  background: rgb(255, 200, 200);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.7), 2px 3px 5px rgba(164, 83, 83, 0.7);
}
#project .proj_btn li:nth-of-type(2) {
  background: rgb(255, 251, 199);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.7), 2px 3px 5px rgba(175, 168, 64, 0.7);
  opacity: 0.6;
}
#project .proj_btn li:nth-of-type(3) {
  background: rgb(204, 255, 199);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.7), 2px 3px 5px rgba(84, 172, 76, 0.7);
  opacity: 0.6;
}
#project .proj_btn li:nth-of-type(4) {
  background: rgb(198, 211, 255);
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.7), 2px 3px 5px rgba(68, 89, 169, 0.7);
  opacity: 0.6;
}
#project .proj_btn li a {
  display: block;
  color: #2c2c2c;
}
#project .proj_box {
  position: relative;
  width: 85%;
  height: 660px;
  background: #2a2a2a;
  position: relative;
  top: 230px;
}
#project .proj_box:before {
  content: "##현재 페이지 슬라이드 적용예정";
  display: flex;
  justify-content: right;
  font: 0.8vw/1 "Noto Sans KR";
  letter-spacing: 1px;
  color: rgb(229, 48, 48);
  margin-top: -25px;
}
#project .proj_box .proj_txt {
  position: absolute;
  top: 140px;
  left: 80px;
}
#project .proj_box .proj_txt ul {
  color: #eaeaea;
}
#project .proj_box .proj_txt ul li:nth-of-type(1) {
  font: 1.4vw/1 "Noto Sans KR";
  margin-bottom: 60px;
}
#project .proj_box .proj_txt ul li:nth-of-type(2) {
  font: 500 3vw/40px "Noto Sans KR";
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#project .proj_box .proj_txt ul li:nth-of-type(2) span {
  font: 2vw/1 "Noto Sans KR";
}
#project .proj_box .proj_txt ul li:nth-of-type(3) {
  width: 18vw;
  font: 1vw/24px "Noto Sans KR";
  margin-bottom: 80px;
}
#project .proj_box .proj_txt ul li:nth-of-type(4) a {
  display: block;
  width: 80px;
  height: 30px;
  border: 1px solid #eaeaea;
  text-align: center;
  font: 0.8vw/28px "Noto Sans KR";
  color: #eaeaea;
}
#project .proj_box .proj_txt ul li:nth-of-type(4) a:hover {
  background: #eaeaea;
  color: #000;
}
#project .proj_box .megaImg {
  position: absolute;
  top: 80px;
  right: 140px;
  width: 800px;
  height: 500px;
}
#project .proj_box .megaImg .megaWeb img {
  width: 100%;
}
#project .pofol {
  position: absolute;
  bottom: 65px;
  right: 10vw;
  font: 1vw/30px "Noto Sans KR";
  color: #505050;
}
#project .pofol a {
  display: inline-block;
  width: 5vw;
  height: 30px;
  background: #505050;
  font: 0.7vw/30px "Noto Sans KR";
  text-align: center;
  margin-left: 3px;
  color: #fff;
}

#footer {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer_tit {
  font: 500 5vw/1 "Noto Sans KR";
  letter-spacing: 5px;
  color: #999;
  margin-bottom: 300px;
}
#footer .footer_line {
  position: absolute;
  top: 50%;
  width: 50vw;
  border-bottom: 1px solid #505050;
  margin-bottom: 200px;
}
#footer ul {
  position: absolute;
  bottom: 250px;
  width: 40vw;
  display: flex;
  justify-content: space-between;
}
#footer ul li i {
  font-size: 100px;
  color: #999;
}
#footer .copy {
  position: absolute;
  bottom: 40px;
  font: 0.7vw/1.5 "Noto Sans KR";
  text-align: center;
  color: #606060;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1500px) {
  #homePg .homeTit {
    left: 12vw;
    font: 4vw/1.5 "Noto Sans KR";
  }
  #homePg .homeTit p strong {
    font-size: 5vw;
  }
  #homePg .homeTag2 {
    top: 450px;
  }
  #homePg .homeTag3 {
    top: 600px;
  }
  #project .proj_box .megaImg {
    width: 680px;
    top: 100px;
    right: 80px;
  }
}
@media screen and (max-width: 1200px) {
  #homePg .homeTag1 {
    font: 1.4vw/1.4 "Noto Sans KR";
  }
  #homePg .homeTag2 {
    top: 480px;
    font: 1.4vw/1.4 "Noto Sans KR";
  }
  #homePg .homeTag3 {
    top: 650px;
  }
  #aboutMe .secM_1 {
    top: 70px;
  }
  #aboutMe .secM_1 img {
    width: 20vw;
  }
  #aboutMe .secM_1 .pf_txt {
    width: 60vw;
    position: absolute;
    text-align: left;
    top: 80px;
    left: 24vw;
  }
  #aboutMe .secM_1 .pf_txt .myName {
    margin: 5px 0 25px;
  }
  #aboutMe .secM_1 .pf_txt .myName strong {
    font: 500 2.8vw/1 "Noto Sans KR";
  }
  #aboutMe .secM_1 .pf_txt .myName span {
    font: 2.5vw/1.5 "Nanum Pen Script";
  }
  #aboutMe .secM_1 .pf_txt .motto {
    font: 1.8vw/1.5 "Nanum Pen Script";
  }
  #aboutMe .secM_2 {
    top: 390px;
    left: 17vw;
    font: 1.3vw/1.6 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul .secM2_tit {
    font: 500 2vw/2.2 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul .ht_txt {
    width: 68vw;
  }
  #aboutMe .secM_3 {
    top: 390px;
    font: 1.3vw/1.6 "Noto Sans KR";
  }
  #aboutMe .secM_3 .secM3_tit {
    font: 500 2vw/2.2 "Noto Sans KR";
  }
  #aboutMe .secM_3 .ability li:nth-of-type(2) span {
    font: 1.2vw/1.6 "Noto Sans KR";
  }
  #aboutMe .secM_3 .skill_icon {
    width: 30vw;
  }
  #project .proj_box .megaImg {
    width: 500px;
    top: 170px;
    right: 80px;
  }
  #footer .footer_tit {
    font: 500 7vw/1 "Noto Sans KR";
  }
}
@media screen and (max-width: 960px) {
  body {
    height: 3800px;
  }
  #homePg .homeTit {
    left: 11vw;
    font: 4.2vw/1.8 "Noto Sans KR";
    text-align: center;
  }
  #homePg .homeTit p strong {
    font-size: 5.5vw;
  }
  #homePg .homeTag1 {
    top: 120px;
    left: 11vw;
    font: 1.5vw/1.4 "Noto Sans KR";
    text-align: left;
  }
  #homePg .homeTag2 {
    top: 500px;
  }
  #homePg .homeTag3 {
    top: 710px;
    right: 8vw;
    font: bolder 13vw/1 "Noto Sans KR";
    text-align: left;
    letter-spacing: 10px;
  }
  #aboutMe {
    padding-top: 100px;
  }
  #aboutMe .secM_1 {
    position: static;
    display: block;
    text-align: center;
  }
  #aboutMe .secM_1 img {
    margin-bottom: 20px;
  }
  #aboutMe .secM_1 .pf_txt {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  #aboutMe .secM_1 .pf_txt .myName {
    margin-bottom: 10px;
  }
  #aboutMe .secM_1 .pf_txt .myName strong {
    font: 500 32px/1 "Noto Sans KR";
  }
  #aboutMe .secM_1 .pf_txt .myName span {
    font: 25px/1.5 "Nanum Pen Script";
  }
  #aboutMe .secM_1 .pf_txt .motto {
    margin: 0 auto;
    font: 20px/1.5 "Nanum Pen Script";
  }
  #aboutMe .secM_2 {
    left: 11vw;
    top: 520px;
    font: 15px/1.5 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul {
    margin-bottom: 32px;
  }
  #aboutMe .secM_2 ul .secM2_tit {
    font: 500 20px/2 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul .secM2_tit span {
    font: 15px/1 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul .ht_txt {
    width: 80.5vw;
  }
  #aboutMe .secM_3 {
    top: 520px;
    right: 11vw;
    font: 15px/1.5 "Noto Sans KR";
  }
  #aboutMe .secM_3 ul {
    margin-bottom: 10px;
  }
  #aboutMe .secM_3 .secM3_tit {
    font: 500 20px/2 "Noto Sans KR";
  }
  #aboutMe .secM_3 .ability li:nth-of-type(2) span {
    font: 13px/1 "Noto Sans KR";
  }
  #aboutMe .secM_3 .skill_icon {
    width: 35vw;
  }
  #aboutMe .secM_3 .skill_icon li {
    margin: 5px 20px 10px 0;
    width: 30px;
  }
  #project .proj_box .proj_txt {
    top: 50px;
    left: 80px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(1) {
    font: 22px/1 "Noto Sans KR";
    margin-bottom: 20px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(2) {
    font: 500 40px/1 "Noto Sans KR";
    margin-bottom: 20px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(2) span {
    font: 30px/1 "Noto Sans KR";
  }
  #project .proj_box .proj_txt ul li:nth-of-type(3) {
    font: 14px/24px "Noto Sans KR";
    margin-bottom: 80px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(4) a {
    position: absolute;
    top: 140px;
    right: 0;
    display: block;
    width: 80px;
    height: 30px;
    border: 1px solid #eaeaea;
    text-align: center;
    font: 13px/2 "Noto Sans KR";
    color: #eaeaea;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(4) a:hover {
    background: #eaeaea;
    color: #000;
  }
  #project .proj_box .megaImg {
    width: 68%;
    top: 240px;
    right: 110px;
  }
  #footer {
    height: 800px;
  }
  #footer .footer_tit {
    font: 500 8vw/1 "Noto Sans KR";
  }
  #footer ul {
    width: 50vw;
  }
  #footer ul li i {
    font-size: 80px;
  }
  #footer .copy {
    font: 15px/1.5 "Noto Sans KR";
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 55px;
  }
  header .myLogo {
    margin: 2px 0 0 7px;
  }
  header .myLogo a img {
    width: 90px;
  }
  header .gnb {
    margin: 3px 7px 0 0;
  }
  header .gnb li {
    margin-left: 20px;
  }
  header .gnb li a {
    font: 12px/1 "Architects Daughter", cursive;
    letter-spacing: 1px;
  }
  #homePg .homeTag3 {
    right: 7vw;
    font: bolder 12vw/1 "Noto Sans KR";
  }
  #aboutMe .secM_1 .pf_txt .motto {
    font: 21px/1.2 "Nanum Pen Script";
  }
  #aboutMe .secM_2 {
    left: 8vw;
    top: 440px;
    font: 13px/1.5 "Noto Sans KR";
  }
  #aboutMe .secM_2 ul {
    margin-bottom: 54px;
  }
  #aboutMe .secM_2 ul .ht_txt {
    width: 82vw;
  }
  #aboutMe .secM_3 {
    top: 440px;
    right: 8vw;
    font: 13px/1.5 "Noto Sans KR";
  }
  #project .proj_box:before {
    font: 14px/1 "Noto Sans KR";
  }
  #project .proj_box .proj_txt {
    top: 50px;
    left: 80px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(2) {
    margin-bottom: 35px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(4) a {
    top: 155px;
  }
  #project .proj_box .megaImg {
    width: 65%;
    top: 300px;
    right: 15%;
  }
  #project .pofol {
    right: 8vw;
    font: 14px/1 "Noto Sans KR";
  }
  #project .pofol a {
    width: 60px;
    font: 11px/30px "Noto Sans KR";
  }
  #footer .footer_tit {
    font: 500 50px/1 "Noto Sans KR";
  }
  #footer ul {
    width: 60vw;
  }
  #footer ul li i {
    font-size: 60px;
  }
  #footer .copy {
    font: 10px/1.5 "Noto Sans KR";
  }
}
@media screen and (max-width: 450px) {
  body {
    height: 3400px;
  }
  #homePg {
    height: 850px;
  }
  #homePg .homeTit {
    top: 340px;
    left: 10vw;
    font: 4.2vw/1.8 "Noto Sans KR";
  }
  #homePg .homeTit p strong {
    font-size: 5.8vw;
  }
  #homePg .homeTag1 {
    top: 130px;
    left: 10vw;
    font: 2.5vw/1.6 "Noto Sans KR";
    text-align: left;
  }
  #homePg .homeTag2 {
    top: 250px;
    right: 10vw;
    font: 2.5vw/1.6 "Noto Sans KR";
  }
  #homePg .homeTag3 {
    top: 600px;
    left: 10vw;
    font: bolder 12vw/1.4 "Noto Sans KR";
    text-align: center;
    letter-spacing: 5px;
  }
  #aboutMe {
    height: 850px;
  }
  #aboutMe .secM_1 img {
    width: 180px;
  }
  #aboutMe .secM_1 .pf_txt .motto {
    width: 90%;
  }
  #aboutMe .secM_2 {
    display: none;
  }
  #aboutMe .secM_3 {
    display: none;
  }
  #project {
    height: 850px;
  }
  #project .proj_box {
    height: 500px;
  }
  #project .proj_box .proj_txt {
    left: 50px;
  }
  #project .proj_box .proj_txt ul li:nth-of-type(4) a {
    right: -80px;
  }
  #project .proj_box .megaImg {
    width: 75%;
    top: 270px;
    right: 12%;
  }
  #project .pofol {
    right: 8vw;
    font: 14px/1 "Noto Sans KR";
  }
  #project .pofol a {
    width: 60px;
    font: 11px/30px "Noto Sans KR";
  }
  #footer .footer_tit {
    font: 500 50px/1 "Noto Sans KR";
  }
  #footer ul {
    width: 60vw;
  }
  #footer ul li i {
    font-size: 60px;
  }
  #footer .copy {
    width: 85%;
    font: 13px/1.5 "Noto Sans KR";
  }
}

/*# sourceMappingURL=style.css.map */
